{% extends 'backoffice/base.html.twig' %}

{% block title %}Login{% endblock %}

{% block wrapper %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="py-4 w-50">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Выйти</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Пожалуйста, войдите</h1>

                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>

                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Пароль</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>

                    <div class="mb-3">
                        <input
                            type="hidden"
                            name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        />
                    </div>

                    <button class="btn btn-primary" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
