{% set limit = { limit: limit } %}
{% set prevPageQuery = limit + { page: prevPage } %}
{% set nextPageQuery = limit + { page: nextPage } %}
{% set defaultQuery = { page: 0 } %}
<div class="d-flex justify-content-between">
    <nav>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">Записей на страницу</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path(app.request.attributes.get('_route'), { limit: 16} + defaultQuery) }}">16</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path(app.request.attributes.get('_route'), { limit: 32} + defaultQuery) }}">32</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path(app.request.attributes.get('_route'), { limit: 64} + defaultQuery) }}">64</a>
            </li>
        </ul>
    </nav>

    <nav>
        <ul class="pagination">

            {% if prevPage is not null %}
            <li class="page-item">
                <a class="page-link" href="{{ path(app.request.attributes.get('_route'), prevPageQuery) }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link" href="#">{{ page + 1 }}</a>
            </li>

            {% if nextPage is not null %}
            <li class="page-item">
                <a class="page-link" href="{{ path(app.request.attributes.get('_route'), nextPageQuery) }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
</div>
