{% set limit = { limit: 20 } %}
{% set page = { page: 0 } %}
{% set defaultQuery = limit + page %}
<div>
    <a href="{{ path('app_backoffice_dashboard') }}">
        <h3>Backoffice</h3>
    </a>

    <ul>
        <li>
            <a href="{{ path('app_backoffice_dashboard') }}">Главная</a>
        </li>
        <li>
            <a href="{{ path('app_backoffice_orders_index', defaultQuery) }}">Orders</a>
        </li>
        <li>
            <a href="{{ path('app_backoffice_users_index', defaultQuery) }}">Users</a>
        </li>
        <li>
            <a href="{{ path('app_backoffice_partners_index', defaultQuery) }}">Partners</a>
        </li>
    </ul>
</div>
