<div>
    <a href="{{ path('app_backoffice_dashboard') }}">
        <h3>Backoffice</h3>
    </a>

    <ul>
        <li>
            <a href="{{ path('app_backoffice_dashboard') }}">Главная</a>
        </li>
        <li>
            <a href="{{ path('app_backoffice_orders_index') }}">Orders</a>
        </li>
        <li>
            <a href="{{ path('app_backoffice_users_index') }}">Users</a>
        </li>
        <li>
            <a href="{{ path('app_backoffice_partners_index') }}">Partners</a>
        </li>
    </ul>
</div>
